.DS_Store
.dart_tool/

.packages
.pub/

build/
example/ios/Runner/GoogleService-Info.plist
example/ios/Flutter/.last_build_id


doc/api/
example/android1/app/.settings/org.eclipse.buildship.core.prefs
example/android1/app/.project
example/android1/app/.classpath
example/android1/.settings/org.eclipse.buildship.core.prefs
example/android1/.project
android/.settings/org.eclipse.buildship.core.prefs
android/.project
android/.classpath
